@font-face {
  font-family: PDAfont;
  src: url(assets/fonts/Aller.ttf);
}

body {
  font-family: PDAfont, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

#home {
  background-image: url('/assets/images/OS-background.JPG');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.waffles888 {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home-head {
  color: #fd7b01e0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}