@font-face {
  font-family: PDAfont;
  src: url(../assets/font/aller/Aller_Std_Bd.ttf);
}

body {
  font-family: PDAfont, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.github-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

#home {
  background-image: url('../assets/images/OS-background.JPG');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.waffles888 {
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home-head {
  color: #fd7b01e0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pet-box{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: PDAfont, sans-serif;
    color: #fd7b01e0;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0;
  color: #fd7b01e0;
}

.OS-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  bottom: 0px;
}

.welcome-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  bottom: 0px;
}